<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>My Pets List</h1>
            <button type="button" (click)="addNewPet()">
                Add Pet
            </button>
            <table class="table">
                <thead>
                    <tr>
                        <th>Pet Name</th>
                        <th>Pet Type</th>
                    </tr>
                </thead>
                <tbody>
                    @for (pet of draftPets(); track pet.id ?? $index) {
                    <tr>
                        <td>
                            <app-editable (updateField)="savePet(pet)">
                                <ng-template appViewMode>
                                    {{ pet.name }}

                                </ng-template>
                                <ng-template appEditMode>
                                    <input [value]="pet.name"
                                        (input)="updateField(pet, 'name', $any($event.target).value)" />
                                </ng-template>
                            </app-editable>
                        </td>
                        <td>
                            <app-editable (updateField)="savePet(pet)">
                                <ng-template appViewMode>
                                    {{ pet.type }}
                                </ng-template>
                                <ng-template appEditMode>
                                    <input [value]="pet.type"
                                        (input)="updateField(pet, 'type', $any($event.target).value)" />
                                </ng-template>
                            </app-editable>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>